<div class="example-container">
        <div class="alert alert-info d-flex align-items-baseline" style="margin:15px 3px 15px 3px;box-shadow: 2px 1px 5px 5px #c0bebe" role="alert">
                <div class="user_icon" style="margin-right:20px" >
                    <button mat-raised-button
                    matTooltip="{{client?.firstName}} {{client?.lastName}}"
                   style="background:none;
                   transition: none !important;
                box-shadow: none !important;">
                    <img src="../../../assets/img/client.png">
            </button>
                   
                 </div>
                <div><span>Vous pouvez effectuer un retrait pour le client <span style="font-weight: bold"> {{client?.firstName}} {{client?.lastName}}</span> à partir du compte <span style="font-weight: bold">{{num}}</span>  </span></div>
            </div>
    <form class="create-account-form" [formGroup]="form" #f  (ngSubmit)="retrait(f)"> 
        <h2>Retrait</h2>
        <div>
            <mat-form-field appearance="standard" hintLabel="Max 24 characters">
            <mat-label>N° International</mat-label>
            <input matInput #input maxlength="24" value="{{currentAccount.numinternational}}" disabled=true>
            <!-- <mat-hint align ="end">{{input.value?.length || 0}}/10</mat-hint> -->
            </mat-form-field>
        </div> 
        <div>
          <mat-form-field appearance="standard" >
            <mat-label>Somme</mat-label>
            <input matInput type="number" class="example-right-align" formControlName="montant">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>
        <div>
            <button mat-raised-button><span>Retirer Montant </span></button>
        </div>
        </form>


        <div class="container" style="margin-top: 30px;" *ngIf="Success" id="MyDiv">
   
           
             
            <div style="border:1px solid black;">
            <div class="d-flex flex-column">
            <h1 style="padding:10px;background: lightblue">Reçu de Retrait : </h1>
            <p style="padding:10px;">{{date | date:'medium'}}</p>
        </div>
           
        <div style="text-align: left; padding-left: 7px; margin-bottom:40px" >
        
        
            <p style=" padding: 10px 0 10px 0">Nous soulignons que vous avez retirer avec succés la somme <span style="font-weight: bold;">{{Montant.value}} DH</span> 
            à partir du compte numéro <span style="font-weight: bold;">{{num}} </span> 
            
            </div>
            
            <hr style="margin:30px 0 0 0">
            <p  style="padding: 10px 0 10px 0"><span style="font-weight: bold;margin-bottom: 10px;">Signature : </span><img style="width:25px;height:auto;margin-left: 30px;" src="../../../assets/img/signer.png"></p>
            
        
        </div>
        </div>
        <button class="btn btn-primary" *ngIf="Success" value="CPTURE" (click)="downloadAsPDF()">Enregistrer sous forme PDF</button>
</div>